*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(50, 93, 108);
}
a{
  text-decoration: none;
}
nav{
  background-color: grey;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
nav a{
  padding: 10px 15px;
  border-radius: 20px;
  color: black;
}
nav a.active{
  background-color: rgb(109, 93, 93);
  color: white;
}